* {
    box-sizing: border-box;
}

.BG {
    background: Lightpink;
}

.BG h1 {
    text-align: center;
    font-size: 40px;
}

.xyz h2 {
    margin-left: 50px;
}

.row {
    display: flex;
    flex-flow: wrap;
}

.column img {
    border: solid;
    color: grey;
}

.column {
    flex: 30%;
    padding: 10px;
    border: solid 2px;
    border-radius: 10px;
    margin: 10px;
}

.column p {
    text-align: center;
    font-size: 20px;
}

.column h3 {
    text-align: center;
    font-size: 30px;
}


/*Form*/

.container {
    outline-style: ridge;
    outline-width: 1px;
    outline-color: black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-style: Sans-serif;
    padding: 16px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 325px;
    margin-right: 325px;
}

input[type=text],
input[type=date],
input[type=number] {
    outline: 0;
    border-width: 0 0 1px;
    border-color: black;
    margin: 5px 0 22px 0;
    width: 100%;
    padding: 15px;
}

input[type=text]:focus,
input[type=date]:focus,
input[type=number]:focus {
    background-color: white;
    outline-style: double;
}

.registerbtn {
    background-color: pink;
    font-style: Sans-serif;
    color: black;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.registerbtn:hover {
    opacity: 4;
}

.required {
    color: red;
}


/*ABOUT US*/

.about h1 {
    text-align: center;
    font-size: 50px;
    background: lightpink;
}

.Image img {
    width: 800px;
    height: 500px;
    float: left;
    margin-left: 3%;
    margin-top: 1%;
    margin-right: 4%;
    margin-bottom: 2%;
    border-radius: 3%;
    border: 5px solid black;
}

.content {
    text-align: left;
    font-size: 1.7rem;
    margin-top: 3%;
    margin-left: 3%;
    margin-right: 4%;
    line-height: 45px;
}